.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #063dac, #1571f3);
  height: 100vh;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bottom-spacing {
  margin-bottom: 1rem;
}

#card-screen {
  transform: translateY(-50%);
}

.form-sizing {
  width: 50%;
  height: 1.5rem;
}

.error {
  color: red;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}


dialog{
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}



